.col-black{
    color: #0d0d0d!important;
}
.col-mt{
    margin: 30px 0;
}
.my-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-header2{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-around;margin: 60px 0;}
.my-header img{
    width: fit-content;
}
.hcenter{
    width: 45%;}
.hcenter.second-box{
    width: 100%;margin-bottom: 50px;}
.my-header2 h3{
    font-family: 'Permanent Marker', cursive;
    font-size: 31px;
    color: #fff;
letter-spacing: .05rem;}
.my-header2 h4{
    font-size: 20px;
    color: #0d0d0d;
    letter-spacing: .05rem;
}
.my-header2 p{
    font-size: 14px;
    color: #fff;
margin: 0;line-height: normal;letter-spacing: .01rem;}
.my-header2 img{
    width: 310px;
    
}
.icon-line{
    margin: 20px 0;
position: relative;width: 100%;}
.icon-line img{
    width: 235px;
z-index: 2;position: relative;}
.hr-dot{
    
border-top: 2px dashed #fff;z-index: 1;position: absolute;top: 30px;width: 100%;}
.errow-icon{

position: absolute;width: fit-content;height: auto;right: -4px;top: 12px;z-index: 3;}
.errow-icon img{
    width:fit-content;
}
.img760{
    width: 1000px!important;
margin-bottom: 30px;}
.img-bt{
    position: absolute;
    bottom: 0;
    width: 100%!important;
}
.our-clients img{
    width: 100%;
}